#background{

	

    -fx-background-image: url("/GrassBackground.jpg");
}

#menu{
	
	-fx-background-image: url("/menu.png");
}

#menuButton{
		-fx-background-radius: 6;
		-fx-font-weight: bold;
		-fx-text-fill: #FFFFFF;
		-fx-background-color: linear-gradient(#000000, #696969);
}	