#background{
	
	-fx-background-image: url("/GrassBackground.jpg");
}

#menu{
	
	-fx-background-image: url("/menu.png");
}

.button{
		-fx-background-radius: 6;
		-fx-font-weight: bold;
		-fx-text-fill: #FFFFFF;
		-fx-background-color: linear-gradient(#000000, #696969);
}	

#timer
{
	-fx-text-fill: #FFFFFF;
	-fx-background-radius: 6;
	-fx-font-weight: bold;
	-fx-background-color: rgba(0, 0, 0, 0.5);
}